@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Лабораторная работа №6</h2>
    <h5>Разработка простейшего веб-приложения с использованием технологии  ASP.NET Core MVC.</h5>
</div>

