<div id="Task">
    <form method="post">
        <div class="zadanie">
            <p> </p>
            <p><b>Блок 2. Задание №4</b></p>
            <p>
                <b>
                    Дано предложение, в котором имеется несколько букв я. Найти: а)
                    порядковый номер первой из них; б) порядковый номер последней из
                    них.
                </b>
            </p>
        </div>
        <div class="line" />
        <p> </p>
        <p>
            <label>Введите предложение:</label>
            <input type="text" name="predl" />
        </p>
        <p>
            <input type="submit" id="btn" value="Найти" />
        </p>
        <p>
            <label>@ViewBag.A</label>
        </p>
        <p>
            <label>@ViewBag.B</label>
        </p>
    </form>
</div>
