<div id="Task">
    <form method="post">
        <div class="zadanie">
            <p> </p>
            <p><b>Блок 3. Задание №11</b></p>
            <p>
                <b>
                    Задан одномерный массив А[1..20]. Просуммировать все
                    неотрицательные элементы, стоящие на четных местах.
                </b>
            </p>
        </div>
        <div class="line" />
        <p> </p>
        <p>
            <label>Введите элементы массива через пробел:</label>
            <input type="text" name="massiv" />
        </p>
        <p>
            <input type="submit" id="btn" value="Обработать" />
        </p>
        <p>
            <label>@ViewBag.A</label>
        </p>
    </form>
</div>