<div id="Task">
    <form method="post">
        <div class="zadanie">
            <p> </p>
            <p><b>Блок 1. Задание №11</b></p>
            <p>
                <b>
                    Даны три действительных числа. выбрать из них те, которые
                    принадлежат полуинтервалу (-3, 9].
                </b>
            </p>
        </div> 
        <div class="line" />
        <p> </p>
        <p>
            <label>Первое число:</label>
            <input type="text" name="firstnum" />
        </p>
        <p>
            <label>Второе число:</label>
            <input type="text" name="secondnum" />
        </p>
        <p>
            <label>Третье число:</label>
            <input type="text" name="thirdnum" />
        </p>
        <p>
            <input type="submit" id="btn" value="Проверить" />
        </p>
        <p>
            <label>@ViewBag.H</label>
        </p>
    </form>
</div>